@(signupForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@main("Endre profil") {
    
    @helper.form(action = routes.SignUp.submit) {
        
        <fieldset>
            <legend>Persondetaljer</legend>
                  
            @inputText(
            	signupForm("firstName"), '_label -> "Fornavn",
            	'_showConstraints -> false,
            	'_error -> signupForm("firstName").error.map(_.withMessage("Fornavnet mŒ v¾re kortere"))
            )
            
            @inputText(
            	signupForm("lastName"), '_label -> "Etternavn",
            	'_showConstraints -> false,
            	'_error -> signupForm("lastName").error.map(_.withMessage("Etternavnet mŒ v¾re kortere"))
            )

			@inputText(
                signupForm("age"), 
                '_label -> "Alder", 'class -> "mini",
                '_showConstraints -> false,
                '_error -> signupForm("age").error.map(_.withMessage("Skriv inn rett alder"))
            )
			
        </fieldset>
        
        <fieldset>
            
            <legend>Kontaktinformasjon</legend>
            
             @inputText(
                signupForm("email"), '_label -> "Alternativ epost",
                '_help -> "Legg til en alternativ epostadresse.",
            	'_error -> signupForm("email").error.map(_.withMessage("Skriv inn en gyldig epost adresse"))
          
            )	
            
    		@inputText(
    			signupForm("phone"), 
    			'_label -> "Telefonnummer", 
    			'class -> "small",
    			'_showConstraints -> false
    		)
    		
    		@textarea(
                signupForm("address"), 
                '_label -> "Adresse", 'cols -> 50,
                '_showConstraints -> false,
                '_error -> signupForm("address").error.map(_.withMessage("Pr¿v Œ korte ned adressen"))
            )
            
            @select( 
            	signupForm("nearestCity"), 
            	options = options(ByerINorge.list),
            	'_default -> "--- Velg by/fylke ---", 
            	'_label -> "N¾rmeste By/Fylke",
            	'_help -> "PŒkrevd",
            	'_error -> signupForm("nearestCity").error.map(_.withMessage("Vennligst velg en by eller fylke"))
            )

            @select(
                signupForm("country"), 
                options = options(Countries.list),
                '_default -> "--- Velg land ---",
                '_label -> "Land"
            )

        </fieldset>
        
        <fieldset>
            
            @checkbox(
                signupForm("accept"), 
                '_label -> None, '_text -> "You aggree the Terms and conditions",
                '_showConstraints -> false
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Endre">
            <a href="@routes.Application.index" class="btn">Avbryt</a>
        </div>
        
    }
}