@(editForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@title = {@Language.get("EditProfile")}
@stringFirst = {@Language.get("FirstName")}
@stringFError = {@Language.get("FirstNameError")}
@stringLast = {@Language.get("LastName")}
@stringLError = {@Language.get("LastNameError")}
@stringAge = {@Language.get("Age")}
@stringAgeEr = {@Language.get("AgeError")}
@stringEmail = {@Language.get("Email")}
@stringEmailEr = {@Language.get("EmailError")}
@stringAltEmail = {@Language.get("AlternativeEmail")}
@stringPhone = {@Language.get("PhoneNumber")}
@stringAddress = {@Language.get("Address")}
@stringAddressE = {@Language.get("AddressError")}
@stringCity = {@Language.get("City")}
@stringCityE = {@Language.get("CityError")}
@stringCountry = {@Language.get("Country")}

@main(""+title) {
		<h2>@Language.get("EditProfile")</h2>
    
    <form action="/profileImageUpload" enctype="multipart/form-data" method="post">
    	<fieldset class="ep-container">
    		<legend>@Language.get("ProfileImage")</legend>
    		
    		<div class="ep-image">
    			<img src="@{Authenticator.getCurrentUser().imageURL}"><br>
    		</div>
    		
    		<label>Change profile image</label><br>
    		<input type="file" name="profileImage" class="ep-item"> <input type="submit" value="Upload" class="ep-item"><br>
    		
    		<label>Use your gravatar</label><br>
    		<a href="/profileImageSetGravatar" class="btn">Get gravatar!</a>
    		
    		<p class="ep-error">@flash.get("error")</p>
    	</fieldset>
		
	</form>
    
    @helper.form(action = routes.Profile.submit) {

        <fieldset class="ep-container">
            <legend>@Language.get("AboutMe")</legend>
                  
            @inputText(
            	editForm("firstName"), '_label -> stringFirst,
            	'_class -> "ep-item",
            	'_value -> "Test",
            	'_showConstraints -> false,
            	'_error -> editForm("firstName").error.map(_.withMessage(""+stringFError))
            )

            @inputText(
            	editForm("lastName"), '_label -> stringLast,
            	'_class -> "ep-item",
            	'_showConstraints -> false,
            	'_error -> editForm("lastName").error.map(_.withMessage(""+stringLError))
            )

			@inputText(
                editForm("age"), '_label -> stringAge,
                '_class -> "ep-item",
                '_showConstraints -> false,
                '_error -> editForm("age").error.map(_.withMessage(""+stringAgeEr))
            )
			
        </fieldset>

        <fieldset class="ep-container">
            
            <legend>@Language.get("ContactInfo")</legend>
            
             @inputText(
                editForm("email"), '_label -> stringEmail,
                '_class -> "ep-item",
                '_showConstraints -> false,
            	'_error -> editForm("email").error.map(_.withMessage(""+stringEmailEr))         
            )	
            
            @inputText(
                editForm("alternativeEmail"), '_label -> stringAltEmail,
                '_class -> "ep-item",
                '_showConstraints -> false,
            	'_error -> editForm("alternativeEmail").error.map(_.withMessage(""+stringEmailEr))         
            )	
            
    		@inputText(
    			editForm("phone"), '_label -> stringPhone,
    			'_class -> "ep-item",
    			'_showConstraints -> false
    		)
    		
    		@textarea(
                editForm("address"), 
                '_label -> stringAddress, 'cols -> 50,
                '_class -> "ep-item",
                '_showConstraints -> false,
                '_error -> editForm("address").error.map(_.withMessage(""+stringAddressE))
            )
            
            @select( 
            	editForm("city"), 
            	options = options(ByerINorge.list), 
            	'_default -> "-----------",
            	'_label -> stringCity,
            	'_class -> "ep-item",
            	 '_showConstraints -> false,
            	'_error -> editForm("city").error.map(_.withMessage(""+stringCityE))

            )

            @select(
                editForm("country"), 
                options = options(Countries.list),
                '_default -> "---------------",
                '_label -> stringCountry,
                '_class -> "ep-item"
            )

        </fieldset>
        
        <div class="actions"> <br>
            <input type="submit" class="btn" value=@Language.get("Save")>
            <a href="@routes.Profile.profile">@Language.get("Cancel")</a>
        </div>

     	
    }
		
}