@(registerForm: Form[controllers.Authentication.RegisterData])

@import helper._

@main("Registration") {

	<h1>Registration</h1>

	@helper.form(action = routes.Authentication.register) {
		@inputText(
			registerForm("username"),
			'_label -> "Username",
			'_help -> "Please choose a valid username.",
			'_error -> registerForm.error("username")
		)

		@inputPassword(
			registerForm("password"),
			'_label -> "Password",
			'_help -> "A password must be at least 6 characters."
		)

		@inputPassword(
			registerForm("password_repeat"),
			'_label -> "Password",
			'_help -> "Please report your password again.",
			'_error -> registerForm.error("password")
		)

		@inputText(
			registerForm("fullname"),
			'_label -> "Full name",
			'_help -> "The name you go by offline.",
			'_error -> registerForm.error("fullname")
		)

		@inputText(
			registerForm("email"),
			'_label -> "Email",
			'_help -> "A confirmation email will be sent.",
			'_error -> registerForm.error("email")
		)

		<input type="submit" value="Sign Up">
	}
}
