@()
@import controllers.Language
@import models.Topic
@import models.Interest
@import java.net.URLEncoder


@main("Om oss") {

<div class="container">
    <div class="row">
        <fieldset>
            <legend> Gruppemedlemmer
            </legend>
            <table cellpadding="1">
             
                Hei på dere
                        </table>
                        </fieldset> 
                        
                        </div>  
                        </div>
                    }