@(user: User, userForm: Form[User])
@import helper._
@main("Register") {
<div class="container">
	<div class="row">
		<div class="span6 offset3">
            
            <br>
			@form(routes.Authenticator.confirmUser()) {
                              
            <fieldset class="ep-container">
            <legend>@Language.get("PersonalInformationMessage")</legend>
            
				<label>@Language.get("FirstName"):</label>
				<input type="text" class="ep-item" name="firstName" value="@user.firstName" size="35"><br>

				<label>@Language.get("LastName"):</label>
				<input type="text" class="ep-item" name="lastName" value="@user.lastName" size="35"><br>
                
                <label>@Language.get("Email"):</label>
				<input type="text" class="ep-item" name="email" value="@user.email" size="35"><br>

				<input type="hidden" name="googleId" value="@user.googleId" size="35"><br>

				<input type="hidden" name="yahooId" value="@user.yahooId" size="35"><br>

				<input type="submit" class="ep-item" value="@Language.get("Create")" >
            }

			<br>
			<div class="alert-info">
                <p>@Language.get("RegisterMessage").</p>
			</div>
			<br>
			<a href="@{routes.Application.index()}">@Language.get("ToFrontPage")</a>
		</div>
	</div>
</div>	
}
