@()

@import controllers.Language

@main("Minerva") {

<div class="center">
	<h1>@Language.get("IndexTitle")</h1>
	<div class="boxes">
		<div class="box">
			<div class="subbox">
				<h2>@Language.get("IndexDescriptionTitle")</h2>
				@Html(Language.get("IndexDescriptionHTML"))
			</div>
		</div><div class="box">
			<div class="subbox">
				<h2>@Language.get("LogIn")</h2>
				<p><a href="#">Google</a></p>
				<p><a href="#">Facebook</a></p>
				<p><a href="#">Yahoo</a></p>
			</div>
		</div><div class="box">
			<div class="subbox">
				<h2>@Language.get("IndexTopicsTitle")</h2>
				<a href="#">Java</a>
				<a href="#">C</a>
				<a href="#">Play&#x2005;Framework</a>
				<a href="#">Nachos</a>
				<a href="#">Operativsystemer</a>
				<a href="#">Baking</a>
				<a href="#">Matlaging</a>
				<a href="#">Ekstraterrestielle&#x2005;skapninger</a>
				<a href="#">Meningen&#x2005;med&#x2005;livet</a>
				<a href="#">Obladi</a>
				<a href="#">NTNU</a>
				<a href="#">Informasjonsvitenskap</a>
				<a href="#">Linux</a>
				<a href="#">Yacc&#x2005;&amp;&#x2005;Lex</a>
				<a href="#">Avansert&#x2005;baking</a>
				<a href="#">Simple&#x2005;Build&#x2005;Tool</a>
				<a href="#">Piano</a>
				<a href="#">Puter</a>
				<a href="#">Madrasser</a>
			</div>
		</div><div class="box">
			<div class="subbox center">
				<p><img src="@routes.Assets.at("images/logo/medium.png")"></p>
			</div>
		</div>
	</div>
</div>

}

