@()

@import controllers.Language
@import models.Topic

@main("Minerva") {

<div class="center">
	<h1>@Language.get("IndexTitle")</h1>
	<div class="boxes">
		<div class="box">
			<div class="subbox">
				<h2>@Language.get("IndexDescriptionTitle")</h2>
				@Html(Language.get("IndexDescriptionHTML"))
			</div>
			</div><div class="box">
			<div class="subbox">
				<h2>@Language.get("IndexTopicsTitle")</h2>
				@for(topic <- Topic.getAll()) {
					<a href="/topic/@topic.name">@topic.name</a>
				}
				<form action="/gettopic" method="get">
					<p>@Language.get("SomeOtherTopicQuestion")</p>
					<input type="hidden" name="submit" value="true">
					<input type="text" name="topic" placeholder="@Language.get("TopicName")">
					<input type="submit" value="@Language.get("GetTopic")">
				</form>
			</div>
		</div><div class="box">
			<div class="subbox center">
				<p><img src="@routes.Assets.at("images/logo/medium.png")"></p>
			</div>
		</div>
	</div>
</div>

}
