@(title: String)(content: Html)

@import controllers.Language

<!doctype html>
<html lang="@Language.getLang().code()">
	<head>
		<title>@title</title>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
	</head>
	<body>
		<div class="wrap">
			<div class="topbar">
				<a href="/">Minerva</a>
				<div class="right">
					<a href="/login">@Language.get("LogIn")</a> &nbsp;
					<a href="/language">@Language.get("Language")</a>
				</div>
			</div>
			@content
		</div>
	</body>
</html>
