@(title: String)(content: Html)

@import controllers.Language

<!doctype html>
<html lang="@Language.getLang().code()">
	<head>
		<meta charset="utf-8">
		<title>@title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="wrap">
			<div class="topbar">
				<a href="/">Minerva</a>
				<div class="right">
					<a href="/login">@Language.get("LogIn")</a> &nbsp;
					<a href="/language">@Language.get("Language")</a>
				</div>
			</div>
			@content
		</div>
	</body>
</html>
