@(title: String)(content: Html)

@import controllers.Language

<!doctype html>
<html lang="@Language.getLang().code()">
	<head>
		<meta charset="utf-8">
		<title>@title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
		<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/logo/medium.png")">
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="dark">
			<div class="wrap">
				<div class="bar">
					<div class="right">
						@{
              				if (Authenticator.getCurrentUser() == null){
              					<a href="/login">{Language.get("LogIn")}</a>
              				}
              				else {
              					<a href="/profile">{Authenticator.getCurrentUser().fullName}</a>
              					<a href="/logout">{Language.get("LogOut")}</a>
              				} 		
	              		} 
						
					</div>
					<a href="/">Minerva</a>		
				</div>
			</div>
		</div>
		<div class="wrap">
			<div class="content">
				@content
			</div>
			<div class="footer">
			<div class="language">
				<a href="/language?lang=en&amp;redirect_back=true">English</a> -
				<a href="/language?lang=no&amp;redirect_back=true">Norsk</a>
			</div>
			</div>
		</div>
	</body>
</html>
