@(user: User)
@import controllers.Language
@import models.Topic
@import models.Interest
@import java.net.URLEncoder 

@title = {@Language.get("Profile"): @user.firstName}

@main(""+title) {

<div class="container">
    <div class="row">
        <h2>@user.firstName @user.lastName</h2>
        <fieldset>
            <legend>@Language.get("AboutMe")</legend>
            <table cellpadding="1"> 
                <tr> <img src="@{Authenticator.getCurrentUser().imageURL}">
                    <td width = "200"> <b> @Language.get("FirstName"):</td>    
                    <td> @user.firstName </td>
                </tr>
                
                <tr>
                    <td width = "200"> <b>@Language.get("LastName"):</td>
                    <td> @user.lastName </td>
                </tr>
    
                <tr>
                	<td width = "200"> <b> @if(user.age !=0 && user.age != null) {@Language.get("Age"):} </b></td>
                	<td> @if(user.age != 0 || user.age != null) {@user.age}</td>
              </tr>
           </table>
       </fieldset>
       <br>     
       <fieldset>
           <legend>@Language.get("ContactInfo")</legend>
           <table cellpadding="1">
                <tr>        
                   <td width = "200"> <b> @Language.get("Email"):</td>
                  
                   <td><input type="button" value="@Language.get("SendMail")" onClick="location.href='@routes.Email.create(user.id)'"></td>
                </tr>
               
                <tr>
                
                	<td width = "200"> <b> @if(user.city != null) {@Language.get("City"):} </b></td>
                	<td> @if(user.city != null) {@user.city}</td>
                </tr>   
               
               <tr>
                  <td width = "200"> <b> @if(user.country != null) {@Language.get("Country"):} </b></td>
                	<td> @if(user.country != null) {@user.country}</td>
                </tr>
        
            </table>
        </fieldset>  
    </div>  
</div>
}