


@import helper._

@main("Subjects") {

	<h1>Emne registrering</h1>

	<script>
		function swapElement(fromList, toList) {
			var selectOptions = document.getElementById(fromList);
			for ( var i = 0; i < selectOptions.length; i++) {
				var opt = selectOptions[i];
				if (opt.selected) {
					document.getElementById(fromList).removeChild(opt);
					document.getElementById(toList).appendChild(opt);
					i--;
				}
			}
		}
	</script>

	<style>
		select {
			width: 100%;
		}
	</style>

<form action="@routes.Subject.post()" method="POST">

	<div style="float: left; width: 33%;">
		<h3>Emner</h3>
		<select id="available" size="24" multiple="multiple">
			<option value="Java">Java</option>
			<option value="C">C</option>
			<option value="Scala">Scala</option>
			<option value="Play Framework">Play Framework</option>
			<option value="Banana">Bananas</option>
			<option value="Muring">Muring</option>
			<option value="Bavian vasking">Bavian vasking</option>
			<option value="Delegering">Delegering</option>
			<option value="Rectoskopi">Rectoskopi</option>
			<option value="Traktor">Traktor</option>
			<option value="Rokk">Rokk</option>
		</select>
	</div>
	<div style="float: left; width: 33%;">
		<h3>Emner jeg vil lære</h3>
		<input type="button" value="Legg til &gt;" onclick="swapElement('available','selectedWant')"><br>
		<select id="selectedWant" size="21" multiple="multiple" name="selectedWant[]"></select>
		<input type="button" value="&lt; Fjern" onclick="swapElement('selectedWant','available')"><br>
	</div>
	<div style="float: left; width: 33%;">
		<h3>Emner jeg kan</h3>
		<input type="button" value="Legg til &gt;" onclick="swapElement('available','selectedCan')"><br>
		<select id="selectedCan" size="21" multiple="multiple" name="selectedCan[]"></select>
		<input type="button" value="&lt; Fjern" onclick="swapElement('selectedCan','available')">
	</div>
	<div style="clear: both;"></div>

	<input type="submit" value="Legg til">
</form>

}
