@(topicName: java.lang.String, user: models.User)
@import controllers.Language
@import controllers.Markup
@import models.Topic

@main(topicName) {
	<h1>@Language.get("Topic"): @topicName</h1>
	<ul>
	@for(interest <- new Topic(topicName).getInterests()) {
	@defining(interest.getUser()) { user =>
		<li class="interest">
		<a href="/user/@user.id">@user.fullName</a>
		@if(interest.asMentor) {
			&#150; @Language.get("SeeksStudent")
		}
		@if(interest.asStudent) {
			&#150; @Language.get("SeeksMentor")
		}
			@Html(Markup.parse(interest.description))
		</li>
	}}
	</ul>
	<form action="/topic/@topicName" method="post">

	@defining(new Topic(topicName).getInterestOf(user)) { interest =>

		@if(interest == null) {

		<h2>@Language.get("ApplyForTopic")</h2>

		<textarea rows="6" name="description"></textarea>
		<p><label><input type="checkbox" name="as_mentor"> @Language.get("AsMentorQuestion")</label></p>
		<p><label><input type="checkbox" name="as_student"> @Language.get("AsStudentQuestion")</label></p>
		<input type="submit" value="@Language.get("Submit")">

		}

		@if(interest != null) {

		<h2>@Language.get("EditInterest")</h2>
		<input type="submit" name="remove" value="@Language.get("RemoveInterest")"><br>
		<textarea rows="6" name="description">@interest.description</textarea>
		<p><label><input type="checkbox" name="as_mentor" @if(interest.asMentor) { checked }> @Language.get("AsMentorQuestion")</label></p>
		<p><label><input type="checkbox" name="as_student" @if(interest.asStudent) { checked }> @Language.get("AsStudentQuestion")</label></p>
		<input type="submit" value="@Language.get("Submit")">

		}
	}

	</form>
}
