@(topicName: java.lang.String, user: models.User)
@import controllers.Language
@import controllers.Markup
@import models.Topic

@main(topicName) {
	<h1>@Language.get("Topic"): @topicName</h1>
	<ul class="interests">
	@for(interest <- new Topic(topicName).getInterests()) {
	@defining(interest.getUser()) { listuser =>
	<li class="interest">
		<form class="bar" action="/topic/@topicName" method="post">
			<a
                @if(user != null && listuser.id == user.id) {
                    href="/profile"}
                @if(user != null && listuser.id != user.id){
                href="/profile/@listuser.id"
                }
                >@listuser.fullName</a>
            
			@if(interest.asMentor) {
				– @Language.get("SeeksStudent")
			}
			@if(interest.asStudent) {
				– @Language.get("SeeksMentor")
			}
			@if(user != null && listuser.id == user.id) {
				– <input type="submit" name="remove" value="@Language.get("RemoveInterest")"></form>
			}
		</form>
		<div class="interestcontent">
		@Html(Markup.parse(interest.description))
		</div>
	</li>
	}}
	</ul>
	@if(user != null) {
	<form action="/topic/@topicName" method="post">

	@defining(new Topic(topicName).getInterestOf(user)) { interest =>

		@if(interest == null) {

		<h2>@Language.get("ApplyForTopic")</h2>
		<label>
			<p>@Language.get("WriteAboutYourInterest")</p>
			<textarea rows="6" name="description"></textarea>
		</label>
		<p><label><input type="checkbox" name="as_mentor"> @Language.get("AsMentorQuestion")</label></p>
		<p><label><input type="checkbox" name="as_student"> @Language.get("AsStudentQuestion")</label></p>
		<input type="submit" value="@Language.get("Submit")">

		}

		@if(interest != null) {

		<h2>@Language.get("EditInterest")</h2>
		<label>
			<p>@Language.get("WriteAboutYourInterest")</p>
			<textarea rows="6" name="description">@interest.description</textarea>
		</label>
		<p><label><input type="checkbox" name="as_mentor" @if(interest.asMentor) { checked }> @Language.get("AsMentorQuestion")</label></p>
		<p><label><input type="checkbox" name="as_student" @if(interest.asStudent) { checked }> @Language.get("AsStudentQuestion")</label></p>
		<input type="submit" value="@Language.get("Submit")">

		}
	}

	</form>
	}
	@if(user == null) {
		@Html(Language.get("LogInToApplyToTopicHTML"))
	}
}
